* {
  box-sizing: border-box;
  /* border: 1px solid; */
}
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
.padding {
  padding: 50px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.d-flex .col {
  flex-basis: 32%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding-bottom: 15px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  text-decoration: none;
  padding: 7px 15px;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}
.btn:hover {
  background-color: #333;
}
.banner img {
  display: block;
  width: 100%;
  max-width: 100%;
}
header nav {
  /* background-color: #ddd; */
  padding: 15px;
}
header ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}
header ul li {
  /* padding: 5px; */
}
header ul li a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 7px 15px;
  /* background-color: #fff; */
  margin-left: 5px;
  border-radius: 5px;
  transition: all 0.3s linear;
}
header ul li a:hover {
  background-color: #eee;
  color: #000;
}
.further-info {
  background-color: #ddd;
}

footer {
  padding-top: 50px;
  background-color: #333;
  color: #fff;
  border-top: 5px double #000;
}
footer p {
  margin: 0;
  padding: 7px 15px;
}
footer a {
  color: #fff;
}
.text-center {
  text-align: center;
}